html{
  background-color: cyan;
}

body{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Times New Roman';
  padding: 20px;
}

.part1 img{
  margin: 0 auto;
border-radius: 50%;
}

.part2 img{
  height: 300px;
  width: 300px; 
  margin: 0 auto;
  border-radius: 50%;
}
.end li{
  padding: 5px;
  display: inline-block;
}
