html{
  background-color: cyan;
}

body{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Times New Roman';
  padding: 20px;
}

.part1 img{
  height: 200px;
  width: 200px;
  margin: 0 auto;
border-radius: 50%;
}

.part2 img{
  height: 200px;
  width: 200px; 
  margin: 0 auto;
}
.end li{
  padding: 5px;
  display: inline-block;
}
.link a{
  display: center;
  font-family: monospace;
}
